<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/user/dashboard">Hotel Booking System</a>
        <div class="ms-auto">
            <a href="/profile" class="btn btn-light me-2">Profile</a>
            <a href="/myBookings" class="btn btn-light me-2">Bookings</a>
            <a href="/logout" class="btn btn-danger">Logout</a>
        </div>
    </div>
</nav>
